<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DebugConsole</key>
	<false/>
	<key>Images</key>
	<dict>
		<key>mainBackground</key>
		<string>TimelineBackground2</string>
	</dict>
	<key>URLExceptions</key>
	<dict/>
	<key>Colors</key>
	<dict>
		<key>mainColor</key>
		<string>696969</string>
		<key>secondaryColor</key>
		<string>A9A9A9</string>
	</dict>
	<key>Fonts</key>
	<dict>
		<key>ButtonFontFamily</key>
		<string>AvenirNextCondensed-DemiBold</string>
		<key>NormalFontFamily</key>
		<string>HelveticaNeue-Thin</string>
		<key>RegularFontFamily</key>
		<string>HelveticaNeue</string>
		<key>ItalicFontFamily</key>
		<string>HelveticaNeue-LightItalic</string>
		<key>HeavyFontFamily</key>
		<string>HelveticaNeue-Light</string>
	</dict>
</dict>
</plist>
