<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fonts</key>
	<dict>
		<key>barTitleName</key>
		<string>HelveticaNeue-Thin</string>
		<key>barTitleSize</key>
		<string>17.0</string>
		<key>buttonFontName</key>
		<string>AvenirNextCondensed-DemiBold</string>
		<key>buttonFontSize</key>
		<string>17.0</string>
		<key>authorFontName</key>
		<string>Helvetica Neue</string>
		<key>authorFontSize</key>
		<string>12.0</string>
		<key>expTitleName</key>
		<string>HelveticaNeue-Thin</string>
		<key>expTitleSize</key>
		<string>27.0</string>
		<key>segmentedFontName</key>
		<string>HelveticaNeue-Thin</string>
		<key>segmentedFontSize</key>
		<string>19.0</string>
		<key>channelLabelName</key>
		<string>HelveticaNeue-Thin</string>
		<key>channelLabelSize</key>
		<string>14.5</string>
		<key>descriptionLabelName</key>
		<string>Helvetica Neue</string>
		<key>descriptionLabelSize</key>
		<string>14.0</string>
		<key>buttonObjectiveName</key>
		<string>AvenirNextCondensed-DemiBold</string>
		<key>buttonObjectiveSize</key>
		<string>17.0</string>
		<key>timelineExpTitleName</key>
		<string>HelveticaNeue-Thin</string>
		<key>timelineExpTitleSize</key>
		<string>43.0</string>
		<key>timelineExpTitleListName</key>
		<string>HelveticaNeue-Thin</string>
		<key>timelineExpTitleListSize</key>
		<string>18.0</string>
		<key>timelineExpDescriptionName</key>
		<string>HelveticaNeue-Thin</string>
		<key>timelineExpDescriptionSize</key>
		<string>18.0</string>
		<key>timelineExpDescriptionListName</key>
		<string>HelveticaNeue-Thin</string>
		<key>timelineExpDescriptionListSize</key>
		<string>12.0</string>
		<key>instructionsName</key>
		<string>HelveticaNeue-Thin</string>
		<key>instructionsSize</key>
		<string>15.0</string>
		<key>instructionsListName</key>
		<string>HelveticaNeue-ThinItalic</string>
		<key>instructionsListSize</key>
		<string>12.0</string>
		<key>labelDistanceName</key>
		<string>HelveticaNeue-Thin</string>
		<key>labelDistanceSize</key>
		<string>13.0</string>
		<key>labelDistanceListName</key>
		<string>HelveticaNeue-Thin</string>
		<key>labelDistanceListSize</key>
		<string>11.0</string>
		<key>infoFontName</key>
		<string>HelveticaNeue-Thin</string>
		<key>infoFontSize</key>
		<string>18.0</string>
		<key>bubbleFontName</key>
		<string>HelveticaNeue-Thin</string>
		<key>bubbleFontSize</key>
		<string>18.0</string>
		<key>buttonCheckinFontName</key>
		<string>AvenirNextCondensed-DemiBold</string>
		<key>buttonCheckinFontSize</key>
		<string>17.0</string>
		<key>chatTextName</key>
		<string>HelveticaNeue-Thin</string>
		<key>chatTextSize</key>
		<string>12.0</string>
		<key>chatAuthorName</key>
		<string>HelveticaNeue-Thin</string>
		<key>chatAuthorSize</key>
		<string>12.0</string>
		<key>chatDateName</key>
		<string>HelveticaNeue-Thin</string>
		<key>chatDateSize</key>
		<string>10.0</string>
		<key>loadingName</key>
		<string>HelveticaNeue-Thin</string>
		<key>loadingSize</key>
		<string>14.0</string>
	</dict>
</dict>
</plist>
